@model ProyectoGestionVenta.Models.Categorium

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
   
    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .row {
        margin-top: 20px;
    }

    .col-md-4 {
        width: 33.33%;
        float: left;
    }

    form {
        padding: 20px;
        border: 1px solid #ccc;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
    }

    .text-danger {
        color: red;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            color: #0056b3;
            text-decoration: underline;
        }

    .table-dark {
        background-color: #0000ff;
        color: #0000ff;
    }
</style>
<div class="card card-primary col-6">
    <div class="card-header">
        <h3 class="card-title">Crear categorias</h3>
    </div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input type="text" id="Nombre" onkeypress="return soloLetras(event)" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label"></label>
            <input type="text" id="Descripcion" onkeypress="return soloLetras(event)" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">


            <input type="submit" value="Crear categorias" class="btn btn-primary" />

        </div>
        <div>
            <a class="btn btn-secondary" href="@Url.Action("Index")">Volver a la Lista</a>

        </div>

    </form>
    <script>
        function soloLetras(event) {
            var charCode = event.which || event.keyCode; // Obtener el código de la tecla presionada

            // Comprobar si la tecla presionada es una letra (a-zA-Z) o espacio (32)
            if ((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || charCode === 32) {
                return true; // Permitir la tecla
            } else {
                return false; // Bloquear la tecla
            }
        }
    </script>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  
}
