@model ProyectoGestionVenta.Models.Categorium

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
    }

    .row {
        margin-top: 20px;
    }

    .col-md-4 {
        width: 33.33%;
        float: left;
    }

    form {
        padding: 20px;
        border: 1px solid #ccc;
    }

    input[type="text"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: 1px solid #007bff;
        border-radius: 5px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            color: #0056b3;
            text-decoration: underline;
        }
</style>
        <h1>Editar Categoría</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CategoriaId" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre:</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label">Descripción:</label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label">Estado:</label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                    </div>
                </form>
            </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
