@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}</div>
<div class="row col-7 offset-3">

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nombre de Usuario" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="Cliente" id="button-addon2">Cliente</button>
    </div>
</div>
