@model ProyectoGestionVenta.Models.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/categoria.css" rel="stylesheet" />
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Crear Usuario</h3>
    </div>
    <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="row">
                             <div class="form-group col">
                <label asp-for="RolId" class="control-label"></label>
                <select asp-for="RolId" class ="form-control" asp-items="ViewBag.RolId"></select>
            </div>
            <div class="form-group col">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" type="text" id="Nombre" onkeypress="return soloLetras(event)" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

             </div>

             <div class="row">

            <div class="form-group col">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <select asp-for="TipoDocumento" class="form-control" ><option value="cedula">Cédula</option>
        <option value="pasaporte">Pasaporte</option>
        <option value="rnc">RNC</option></select>
            </div>

            <div class="form-group col">
                <label for="NumDocumento">NumDocumento</label>
                <input type="text" id="NumDocumento" oninput="validarEntrada(this)" maxlength="13" />
                <span asp-validation-for="NumDocumento" class="text-danger"></span>
            </div>
        </div>

        <div class="row">

            <div class="form-group col">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label for="Telefono">Telefono</label>
                <input type="text" id="Telefono" oninput="validarEntrada(this)" maxlength="12" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        
        <div class="row">

            <div class="form-group col">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="row offset-2">
            <div class="col">
                <input type="submit" value="Crear" class="btn btn-primary col-6" />
            </div>
            <div class="col">
                <a class="btn btn-secondary col-6" href="@Url.Action("Index")">Ir a Lista</a>
            </div>
        </div>
        </form>
 </div>
<script src="~/js/usuario.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
