@model ProyectoGestionVenta.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/proovedor.css" rel="stylesheet" />
<div class="card card-primary col-7 offset-3">
    <div class="card-header">
        <h3 class="card-title">Detalles de Proveedor</h3>
    </div>
    <dl class="proveedor-details row">
        <div class="col-sm-3">
            <dt>Nombre:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Nombre</dd>
        </div>
        <div class="col-sm-3">
            <dt>Rnc:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Rnc</dd>
        </div>
        <div class="col-sm-3">
            <dt>Correo:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Correo</dd>
        </div>
        <div class="col-sm-3">
            <dt>Representante:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Representante</dd>
        </div>
        <div class="col-sm-3">
            <dt>Dirección:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Direccion</dd>
        </div>
        <div class="col-sm-3">
            <dt>Contacto:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Contacto</dd>
        </div>
    </dl>
        <nav>

            <div class="row offset-2">
                <div class="col">
                    <a class="btn btn-primary col-6" href="@Url.Action("Edit", new { id = Model?.ProveedorId })">Editar</a>
                </div>
                <div class="col">
                    <a class="btn btn-secondary col-6" href="@Url.Action("Index")">Ir a Lista</a>
                </div>
            </div>
        </nav>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


