@model ProyectoGestionVenta.Models.Persona

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/personas.css" rel="stylesheet" />
<div class="card card-primary col-7 offset-3">
    <div class="card-header">
        <h3 class="card-title">Crear Clientes</h3>
    </div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="TipoPersona" class="control-label">Tipo de Persona</label>
                <input asp-for="TipoPersona" class="form-control" />
                <span asp-validation-for="TipoPersona" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="TipoDocumento" class="control-label">Tipo de Documento</label>
                <input asp-for="TipoDocumento" class="form-control" />
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="NumDocumento" class="control-label">Numero de Documento</label>
                <input asp-for="NumDocumento" class="form-control" />
                <span asp-validation-for="NumDocumento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion" class="control-label"></label>
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control telefono" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Correo</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="row offset-2">
            <div class="col">
                <input type="submit" value="Crear" class="btn btn-primary col-6" />
            </div>
            <div class="col">
                <a class="btn btn-secondary col-6" href="@Url.Action("Index")">Ir a Lista</a>
            </div>
        </div>
    </form>
    <script src="~/js/personas.js"></script>
    <script>
        function soloLetras(event) {
            var charCode = event.which || event.keyCode;


            if ((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || charCode === 32) {
                return true;
            } else {
                return false;
            }
        }
    </script>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}