@model ProyectoGestionVenta.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/personas.css" rel="stylesheet" />
<div class="card card-primary col-7 offset-3">
    <div class="card-header">
        <h3 class="card-title">Detalles de Cliente</h3>
    </div>
    <dl class="personas-details row">
        <div class="col-sm-3">
            <dt>Nombre:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Nombre</dd>
        </div>
        <div class="col-sm-3">
            <dt>Tipo de Persona:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.TipoPersona</dd>
        </div>
        <div class="col-sm-3">
            <dt>Tipo de Documento:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.TipoDocumento</dd>
        </div>
        <div class="col-sm-3">
            <dt>Número de Documento:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.NumDocumento</dd>
        </div>
        <div class="col-sm-3">
            <dt>Dirección:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Direccion</dd>
        </div>
        <div class="col-sm-3">
            <dt>Teléfono:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Telefono</dd>
        </div>
        <div class="col-sm-3">
            <dt>Correo:</dt>
        </div>
        <div class="col-sm-9">
            <dd>@Model?.Email</dd>
        </div>
    </dl>
    <nav>

        <div class="row offset-2">
            <div class="col">
                <a class="btn btn-primary col-6" href="@Url.Action("Edit", new { id = Model?.Personaid })">Editar</a>
            </div>
            <div class="col">
                <a class="btn btn-secondary col-6" href="@Url.Action("Index")">Ir a Lista</a>
            </div>
        </div>
    </nav>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


